nodered/all_flows
[{"id":"f3980001.c6364","type":"tab","label":"Presence Detection","disabled":false,"info":""},{"id":"894ecb28.c0d4a8","type":"tab","label":"Ligths and Stuff","disabled":false,"info":""},{"id":"30605640.e01d8a","type":"tab","label":"Telegram","disabled":false,"info":""},{"id":"dbd2bcde.7bb22","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"909d27.066a42d8","type":"subflow","name":"Iterate","in":[{"x":220,"y":219,"wires":[{"id":"9f0e0cba.c63e9"}]}],"out":[{"x":500,"y":160,"wires":[{"id":"9f0e0cba.c63e9","port":0}]},{"x":455,"y":259,"wires":[{"id":"9f0e0cba.c63e9","port":1}]}]},{"id":"9a1c944b.f854d8","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open"},{"id":"9b54018a.6a435","type":"mqtt-broker","z":"","name":"aphrodite","broker":"aphrodite","port":"1883","clientid":"NodeRed","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ba1f94c7.934fd8","type":"chatbot-telegram-node","z":"","botname":"Telegram-Dev","usernames":"","providerToken":"","polling":"1000","store":"","log":"","parseMode":"","debug":false},{"id":"47693510.40475c","type":"chatbot-telegram-node","z":"","botname":"Telegram-","usernames":"","providerToken":"","polling":"1000","store":"","log":"","parseMode":"","debug":false},{"id":"f0641d1.4a5d0e","type":"server-state-changed","z":"f3980001.c6364","name":"Pedro's State","server":"9a1c944b.f854d8","entityidfilter":"group.pedro","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"","halt_if_compare":"is","outputs":2,"x":110,"y":46,"wires":[["e4b78891.d00568"],["a8b31b26.e1ada8"]]},{"id":"e4b78891.d00568","type":"api-current-state","z":"f3980001.c6364","name":"Ana !@home","server":"9a1c944b.f854d8","halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"device_tracker.ana_bq","state_type":"str","outputs":2,"x":770,"y":40,"wires":[["ac422d25.652d"],[]]},{"id":"ac422d25.652d","type":"api-current-state","z":"f3980001.c6364","name":"Guests !@home","server":"9a1c944b.f854d8","halt_if":"true","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.houseguest","state_type":"str","outputs":2,"x":980,"y":60,"wires":[["380a28b7.a187e8"],[]]},{"id":"380a28b7.a187e8","type":"api-call-service","z":"f3980001.c6364","name":"Unset Home Occupied","server":"9a1c944b.f854d8","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.home_occupied\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1240,"y":120,"wires":[[]]},{"id":"a8b31b26.e1ada8","type":"api-call-service","z":"f3980001.c6364","name":"Set Home Occupied","server":"9a1c944b.f854d8","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.home_occupied\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":340,"y":200,"wires":[[]]},{"id":"543cd81.b970528","type":"server-state-changed","z":"f3980001.c6364","name":"Ana's State","server":"9a1c944b.f854d8","entityidfilter":"device_tracker.ana_bq","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"","halt_if_compare":"is","outputs":2,"x":110,"y":105,"wires":[["6b45d8db.a67848"],["a8b31b26.e1ada8"]]},{"id":"6b45d8db.a67848","type":"api-current-state","z":"f3980001.c6364","name":"Pedro !@home","server":"9a1c944b.f854d8","halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"group.pedro","state_type":"str","outputs":2,"x":780,"y":100,"wires":[["ac422d25.652d"],[]]},{"id":"ca6745b7.3d9708","type":"server-state-changed","z":"f3980001.c6364","name":"Guest's State","server":"9a1c944b.f854d8","entityidfilter":"input_boolean.houseguest","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"","halt_if_compare":"is","outputs":2,"x":110,"y":176,"wires":[["5d0bb7cc.f798c8"],["a8b31b26.e1ada8"]]},{"id":"5d0bb7cc.f798c8","type":"api-current-state","z":"f3980001.c6364","name":"Ana !@home","server":"9a1c944b.f854d8","halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"device_tracker.ana_bq","state_type":"str","outputs":2,"x":766,"y":173,"wires":[["63646c97.be8154"],[]]},{"id":"63646c97.be8154","type":"api-current-state","z":"f3980001.c6364","name":"Pedro !@home","server":"9a1c944b.f854d8","halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"group.pedro","state_type":"str","outputs":2,"x":980,"y":166,"wires":[["380a28b7.a187e8"],[]]},{"id":"e71e7da7.f7c02","type":"split","z":"894ecb28.c0d4a8","name":"Turn Off House","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"payload","x":340,"y":80,"wires":[["702b8282.401dac","f53510a5.f0cf4","5298f1af.b9a98"]]},{"id":"d7edc3f5.06fb3","type":"server-state-changed","z":"894ecb28.c0d4a8","name":"Home Occupied","server":"9a1c944b.f854d8","entityidfilter":"input_boolean.home_occupied","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"","halt_if_compare":"is","outputs":2,"x":123,"y":86,"wires":[["e71e7da7.f7c02"],[]]},{"id":"702b8282.401dac","type":"split","z":"894ecb28.c0d4a8","name":"Turn Off Office","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"payload","x":640,"y":80,"wires":[["40ce3dcf.864fc4","2f2efa7b.c14f46","c0e8cc8.d0ea83"]]},{"id":"f53510a5.f0cf4","type":"split","z":"894ecb28.c0d4a8","name":"Turn Off Nursery","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"payload","x":680,"y":360,"wires":[["6fdcbe9a.89d6a"]]},{"id":"5298f1af.b9a98","type":"split","z":"894ecb28.c0d4a8","name":"Turn Off Living Room","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"payload","x":700,"y":420,"wires":[["598c9a75.63a714","284bd83d.0f83f8"]]},{"id":"40ce3dcf.864fc4","type":"split","z":"894ecb28.c0d4a8","name":"Turn Off Lights","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"payload","x":1000,"y":67,"wires":[["9d8d57d8.f6cd98","60ffd68.8c40828","938d0210.8c3dd","af73fc76.331fc"]]},{"id":"2f2efa7b.c14f46","type":"split","z":"894ecb28.c0d4a8","name":"Turn Off Switches","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"payload","x":990,"y":230,"wires":[["8d207f64.301e2","1b4d8c73.20ef44"]]},{"id":"c0e8cc8.d0ea83","type":"split","z":"894ecb28.c0d4a8","name":"Turn Off Media Players","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"payload","x":1000,"y":304,"wires":[["ee4040f0.6db16"]]},{"id":"6fdcbe9a.89d6a","type":"split","z":"894ecb28.c0d4a8","name":"Turn Off Lights","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"payload","x":980,"y":360,"wires":[["5f9d9755.c0a538"]]},{"id":"598c9a75.63a714","type":"split","z":"894ecb28.c0d4a8","name":"Turn Off Lights","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"payload","x":980,"y":420,"wires":[["3c21b31c.bc56cc"]]},{"id":"284bd83d.0f83f8","type":"split","z":"894ecb28.c0d4a8","name":"Turn Off Switches","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"payload","x":990,"y":480,"wires":[["f06a1927.bbaf58"]]},{"id":"9d8d57d8.f6cd98","type":"api-call-service","z":"894ecb28.c0d4a8","name":"Turn Off Ceiling Light","server":"9a1c944b.f854d8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.office_ceiling_light\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1260,"y":67,"wires":[[]]},{"id":"60ffd68.8c40828","type":"api-call-service","z":"894ecb28.c0d4a8","name":"Turn Off Desk Light","server":"9a1c944b.f854d8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.office_desk_light\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1250,"y":163,"wires":[[]]},{"id":"938d0210.8c3dd","type":"api-call-service","z":"894ecb28.c0d4a8","name":"Turn Off Lego Light","server":"9a1c944b.f854d8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.office_lego_light\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1250,"y":115,"wires":[[]]},{"id":"af73fc76.331fc","type":"api-call-service","z":"894ecb28.c0d4a8","name":"Turn Off Lego Light","server":"9a1c944b.f854d8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.office_rgb\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1250,"y":20,"wires":[[]]},{"id":"8d207f64.301e2","type":"api-call-service","z":"894ecb28.c0d4a8","name":"Turn Off Switch 1","server":"9a1c944b.f854d8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.remote_switch_1\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1251,"y":257,"wires":[[]]},{"id":"1b4d8c73.20ef44","type":"api-call-service","z":"894ecb28.c0d4a8","name":"Turn Off DTOffice","server":"9a1c944b.f854d8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.dtoffice\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1251,"y":210,"wires":[[]]},{"id":"ee4040f0.6db16","type":"api-call-service","z":"894ecb28.c0d4a8","name":"Turn Off Office TV","server":"9a1c944b.f854d8","service_domain":"media_player","service":"turn_off","data":"{\"entity_id\":\"media_player.officetv\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1250,"y":305,"wires":[[]]},{"id":"5f9d9755.c0a538","type":"api-call-service","z":"894ecb28.c0d4a8","name":"Turn Off Lego Light","server":"9a1c944b.f854d8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.nursery_light\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1250,"y":360,"wires":[[]]},{"id":"3c21b31c.bc56cc","type":"api-call-service","z":"894ecb28.c0d4a8","name":"Turn Off Cabinet Light","server":"9a1c944b.f854d8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.living_room_cabinet\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1260,"y":420,"wires":[[]]},{"id":"f06a1927.bbaf58","type":"api-call-service","z":"894ecb28.c0d4a8","name":"Turn Off Christmas Ligths","server":"9a1c944b.f854d8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.christmas_lights\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1270,"y":480,"wires":[[]]},{"id":"51ab53d4.09b79c","type":"bigtimer","z":"894ecb28.c0d4a8","outtopic":"","outpayload1":"ON","outpayload2":"OFF","name":"[Dusk to 3am]","comment":"","lat":"38.97223","lon":"-8.80873","starttime":"5001","endtime":"120","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":"1-12","day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":160,"y":640,"wires":[["ec0268c0.d2bdb8"],[],[]]},{"id":"b662386a.230f98","type":"switch","z":"894ecb28.c0d4a8","name":"Turn On/Off Depending the Previous Step","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":860,"y":640,"wires":[["e8fb2941.f1bd48"],["4119fafe.8997c4"]]},{"id":"4119fafe.8997c4","type":"api-call-service","z":"894ecb28.c0d4a8","name":"Turn Off Cabinet Light","server":"9a1c944b.f854d8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.living_room_cabinet\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1260,"y":640,"wires":[[]]},{"id":"e8fb2941.f1bd48","type":"api-call-service","z":"894ecb28.c0d4a8","name":"Turn On Cabinet Light","server":"9a1c944b.f854d8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.living_room_cabinet\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1260,"y":580,"wires":[[]]},{"id":"32d3816e.1b287e","type":"api-call-service","z":"894ecb28.c0d4a8","name":"Turn Off Christmas Ligths","server":"9a1c944b.f854d8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.christmas_lights\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":970,"y":800,"wires":[[]]},{"id":"f992115e.0905b","type":"api-call-service","z":"894ecb28.c0d4a8","name":"Turn On Christmas Ligths","server":"9a1c944b.f854d8","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.christmas_lights\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1230,"y":760,"wires":[[]]},{"id":"77c8b294.3ed26c","type":"bigtimer","z":"894ecb28.c0d4a8","outtopic":"","outpayload1":"ON","outpayload2":"OFF","name":"[Sunrise to 3am]","comment":"","lat":"38.97223","lon":"-8.80873","starttime":"5003","endtime":"120","starttime2":0,"endtime2":0,"startoff":"-1","endoff":"0","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":"1-12","day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":160,"y":720,"wires":[["de6bd3ef.5358e"],[],[]]},{"id":"de6bd3ef.5358e","type":"switch","z":"894ecb28.c0d4a8","name":"Turn On/Off Depending the Previous Step","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":720,"wires":[["5136d1c3.99691"],["32d3816e.1b287e"]]},{"id":"5136d1c3.99691","type":"api-current-state","z":"894ecb28.c0d4a8","name":"Home Occupied","server":"9a1c944b.f854d8","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.home_occupied","state_type":"str","outputs":2,"x":940,"y":720,"wires":[["f992115e.0905b"],[]]},{"id":"a66c990c.5516d8","type":"server-state-changed","z":"894ecb28.c0d4a8","name":"Save Living Cabinet Light State","server":"9a1c944b.f854d8","entityidfilter":"light.living_room_cabinet","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"","halt_if_compare":"is","outputs":1,"x":230,"y":967,"wires":[["cf6abeee.da31c"]]},{"id":"cf6abeee.da31c","type":"change","z":"894ecb28.c0d4a8","name":"Living  Room Cabinet Was Forced","rules":[{"t":"set","p":"living_room_cabinet_was_forced","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":967,"wires":[[]]},{"id":"ec0268c0.d2bdb8","type":"switch","z":"894ecb28.c0d4a8","name":"!living_room_cabinet_was_forced","property":"living_room_cabinet_was_forced","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":640,"wires":[["b662386a.230f98"]]},{"id":"36200ae7.1d6b66","type":"inject","z":"894ecb28.c0d4a8","name":"Every 00:00","topic":"","payload":"","payloadType":"date","repeat":"21600","crontab":"","once":true,"onceDelay":"5","x":190,"y":880,"wires":[["4fbe3879.9dd3b8"]]},{"id":"4fbe3879.9dd3b8","type":"change","z":"894ecb28.c0d4a8","name":"Reset Vars","rules":[{"t":"set","p":"living_room_cabinet_was_forced","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"christmas_lights_was_forced","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":880,"wires":[[]]},{"id":"aaee1292.3b94c","type":"server-state-changed","z":"894ecb28.c0d4a8","name":"Save Christmas Lights","server":"9a1c944b.f854d8","entityidfilter":"switch.christmas_lights","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"","halt_if_compare":"is","outputs":1,"x":200,"y":920,"wires":[["6803c02.559b44"]]},{"id":"6803c02.559b44","type":"change","z":"894ecb28.c0d4a8","name":"Christmas Lights Was Forced","rules":[{"t":"set","p":"christmas_lights_was_forced","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":920,"wires":[[]]},{"id":"6b497933.a1e5e8","type":"server-state-changed","z":"894ecb28.c0d4a8","name":"Playstation","server":"9a1c944b.f854d8","entityidfilter":"binary_sensor.playstation","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"","halt_if_compare":"is","outputs":2,"x":100,"y":1280,"wires":[["75a425f5.3d103c"],[]]},{"id":"3af48097.1291f","type":"server-state-changed","z":"894ecb28.c0d4a8","name":"BroadLink","server":"9a1c944b.f854d8","entityidfilter":"media_player.broadlink_office_tv","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"","halt_if_compare":"is","outputs":1,"x":180,"y":1120,"wires":[["2ef3c345.fb026c"]]},{"id":"2ef3c345.fb026c","type":"switch","z":"894ecb28.c0d4a8","name":"Office TV new Source","property":"data.new_state.attributes.source","propertyType":"msg","rules":[{"t":"eq","v":"PS4","vt":"str"},{"t":"eq","v":"ChromeCast","vt":"str"},{"t":"eq","v":"Kodi","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":580,"y":1120,"wires":[["50d572d.b6a8b8c","8991c362.12fa","4f3a974e.3bb6c8"],["8991c362.12fa"],["50d572d.b6a8b8c","4f3a974e.3bb6c8"],["50d572d.b6a8b8c","8991c362.12fa"]]},{"id":"50d572d.b6a8b8c","type":"api-call-service","z":"894ecb28.c0d4a8","name":"Stop ChromeCast","server":"9a1c944b.f854d8","service_domain":"media_player","service":"turn_off","data":"{\"entity_id\":\"media_player.office_tv\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":910,"y":1131,"wires":[[]]},{"id":"8991c362.12fa","type":"api-call-service","z":"894ecb28.c0d4a8","name":"Stop Kodi","server":"9a1c944b.f854d8","service_domain":"media_player","service":"media_stop","data":"{\"entity_id\":\"media_player.kodi_office\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":880,"y":1180,"wires":[[]]},{"id":"4c5c4f58.b0123","type":"api-current-state","z":"894ecb28.c0d4a8","name":"TV Status","server":"9a1c944b.f854d8","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"binary_sensor.hisense_h39n2110c","state_type":"str","outputs":1,"x":740,"y":1340,"wires":[["1c5075bb.f08f6a"]]},{"id":"1c5075bb.f08f6a","type":"switch","z":"894ecb28.c0d4a8","name":"Office TV Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":920,"y":1340,"wires":[["4760e1d3.89fba"],["d6824792.ff5368"],["71961f39.055e4"]]},{"id":"4760e1d3.89fba","type":"api-call-service","z":"894ecb28.c0d4a8","name":"Select PS4 Source","server":"9a1c944b.f854d8","service_domain":"media_player","service":"select_source","data":"{\"entity_id\":\"media_player.office_tv_2\",\"source\":\"PS4\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1170,"y":1280,"wires":[[]]},{"id":"d6824792.ff5368","type":"api-call-service","z":"894ecb28.c0d4a8","name":"Turn On","server":"9a1c944b.f854d8","service_domain":"media_player","service":"turn_on","data":"{\"entity_id\":\"media_player.office_tv_2\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1141,"y":1333,"wires":[["71961f39.055e4"]]},{"id":"9cedc484.2f18b8","type":"delay","z":"894ecb28.c0d4a8","name":"","pauseType":"delay","timeout":"45","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":1400,"wires":[["4c5c4f58.b0123"]]},{"id":"2b6089c0.9420c6","type":"link in","z":"894ecb28.c0d4a8","name":"","links":["71961f39.055e4"],"x":475,"y":1400,"wires":[["9cedc484.2f18b8"]]},{"id":"71961f39.055e4","type":"link out","z":"894ecb28.c0d4a8","name":"","links":["2b6089c0.9420c6"],"x":1255,"y":1400,"wires":[]},{"id":"2963d8e1.bef128","type":"api-call-service","z":"894ecb28.c0d4a8","name":"Ambient Light","server":"9a1c944b.f854d8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.office_rgb\",\"color_name\":\"{{color}}\",\"brightness\":\"25\"}","render_data":true,"mergecontext":"msg","output_location":"payload","output_location_type":"msg","x":1380,"y":940,"wires":[[]]},{"id":"4f3a974e.3bb6c8","type":"split","z":"894ecb28.c0d4a8","name":"Movie Scene","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":890,"y":1020,"wires":[["92cdcd7b.bc77c"]]},{"id":"e28c4302.b3f0a","type":"api-call-service","z":"894ecb28.c0d4a8","name":"Ambient Lego Light","server":"9a1c944b.f854d8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.office_lego_light\",\"color_name\":\"{{color}}\",\"brightness\":\"80\"}","render_data":true,"mergecontext":"msg","output_location":"payload","output_location_type":"msg","x":1390,"y":1020,"wires":[[]]},{"id":"92cdcd7b.bc77c","type":"change","z":"894ecb28.c0d4a8","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":1020,"wires":[["e28c4302.b3f0a","2963d8e1.bef128"]]},{"id":"9c781b5e.4d89e8","type":"chatbot-telegram-receive","z":"30605640.e01d8a","bot":"ba1f94c7.934fd8","botProduction":"47693510.40475c","x":130,"y":20,"wires":[["af2b0e65.82b32","1123c90a.fd3047"]]},{"id":"a1d0f315.97f16","type":"chatbot-telegram-send","z":"30605640.e01d8a","bot":"ba1f94c7.934fd8","botProduction":"ba1f94c7.934fd8","track":false,"passThrough":false,"outputs":0,"x":1530,"y":20,"wires":[]},{"id":"af2b0e65.82b32","type":"switch","z":"30605640.e01d8a","name":"Request","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"/start","vt":"str"},{"t":"eq","v":"/menu","vt":"str"},{"t":"eq","v":"/ObterEstado","vt":"str"},{"t":"eq","v":"/ObterIP","vt":"str"},{"t":"eq","v":"/CamQtMadalena","vt":"str"},{"t":"eq","v":"/LockHouse","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":7,"x":500,"y":260,"wires":[["2ddbc63c.338b8a"],["2ddbc63c.338b8a"],["b80425ef.8fd328"],["7d7037c4.c691b8"],["cb2ff476.bf00d8"],["ae18a995.e9cb48"],["2ddbc63c.338b8a"]]},{"id":"84b9ab46.1690c8","type":"api-current-state","z":"30605640.e01d8a","name":"IP","server":"9a1c944b.f854d8","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.dnsip","state_type":"str","outputs":1,"x":190,"y":940,"wires":[["d499576a.e71628"]]},{"id":"d499576a.e71628","type":"change","z":"30605640.e01d8a","name":"","rules":[{"t":"set","p":"ip","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":940,"wires":[["5bdf7341.1c8dcc"]]},{"id":"6d2f7201.b9975c","type":"ha-get-entities","z":"30605640.e01d8a","server":"9a1c944b.f854d8","name":"Office Lights","rules":[{"property":"entity_id","logic":"starts_with","value":"light.","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"entites","output_results_count":1,"x":210,"y":660,"wires":[["178b802b.ed9ad"]]},{"id":"178b802b.ed9ad","type":"template","z":"30605640.e01d8a","name":"","field":"report","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Luzes:\n{{#entites}}\n  {{attributes.friendly_name}} - {{state}}\n{{/entites}}  \n","output":"str","x":400,"y":660,"wires":[["4ca5d90b.ce8b58"]]},{"id":"4ca5d90b.ce8b58","type":"join","z":"30605640.e01d8a","name":"","mode":"custom","build":"string","property":"report","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":610,"y":680,"wires":[["52af0b8d.ee4914"]]},{"id":"2bc9527f.d29eae","type":"ha-get-entities","z":"30605640.e01d8a","server":"9a1c944b.f854d8","name":"Office Lights","rules":[{"property":"entity_id","logic":"includes","value":"sensor.temperatura_office,sensor.temperatura_quarto_madalena","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"entites","output_results_count":1,"x":210,"y":720,"wires":[["e814cb47.47f398"]]},{"id":"e814cb47.47f398","type":"template","z":"30605640.e01d8a","name":"","field":"report","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Temperatura:\n{{#entites}}\n  {{attributes.friendly_name}} - {{state}} c\n{{/entites}}  \n","output":"str","x":400,"y":720,"wires":[["4ca5d90b.ce8b58"]]},{"id":"3cee7c12.b843a4","type":"ha-get-entities","z":"30605640.e01d8a","server":"9a1c944b.f854d8","name":"Office Devices","rules":[{"property":"entity_id","logic":"includes","value":"binary_sensor.openwrt,binary_sensor.tlsg108e,binary_sensor.re200,binary_sensor.epsond11b70,binary_sensor.aphrodite,binary_sensor.dt_office,binary_sensor.openelec_office,binary_sensor.playstation,binary_sensor.google_home,binary_sensor.broadlink","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"entites","output_results_count":1,"x":220,"y":780,"wires":[["b3b436d7.7219b8"]]},{"id":"b3b436d7.7219b8","type":"template","z":"30605640.e01d8a","name":"","field":"report","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Office Devices:\n{{#entites}}\n  {{attributes.friendly_name}} - {{state}}\n{{/entites}}  \n","output":"str","x":400,"y":780,"wires":[["4ca5d90b.ce8b58"]]},{"id":"2a5374a0.c441fc","type":"ha-get-entities","z":"30605640.e01d8a","server":"9a1c944b.f854d8","name":"Camera","rules":[{"property":"entity_id","logic":"includes","value":"camera.baby_room","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"entites","output_results_count":1,"x":200,"y":840,"wires":[[]]},{"id":"2f749c58.8ecba4","type":"delay","z":"30605640.e01d8a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1180,"y":680,"wires":[["81d2f9cc.c052e8"]]},{"id":"1123c90a.fd3047","type":"chatbot-waiting","z":"30605640.e01d8a","waitingType":"typing","x":420,"y":20,"wires":[["a1d0f315.97f16"]]},{"id":"d6aec09c.31831","type":"link in","z":"30605640.e01d8a","name":"IN - /ObterIP","links":["7d7037c4.c691b8"],"x":95,"y":940,"wires":[["84b9ab46.1690c8"]]},{"id":"7d7037c4.c691b8","type":"link out","z":"30605640.e01d8a","name":"IN - /ObterIP ","links":["d6aec09c.31831"],"x":1115,"y":260,"wires":[]},{"id":"e46b66ba.f30728","type":"link in","z":"30605640.e01d8a","name":"OUT /ObterIP","links":["1e4640c.5d75dbf"],"x":1155,"y":260,"wires":[["a1d0f315.97f16"]]},{"id":"1e4640c.5d75dbf","type":"link out","z":"30605640.e01d8a","name":"OUT /ObterIP","links":["e46b66ba.f30728"],"x":795,"y":940,"wires":[]},{"id":"b80425ef.8fd328","type":"link out","z":"30605640.e01d8a","name":"IN /ObterEstado","links":["bd640b41.c80c78"],"x":1115,"y":220,"wires":[]},{"id":"fda44357.2a84c","type":"link in","z":"30605640.e01d8a","name":"OUT /ObterEstado","links":["c9a50929.bdff88"],"x":1155,"y":220,"wires":[["a1d0f315.97f16"]]},{"id":"bd640b41.c80c78","type":"link in","z":"30605640.e01d8a","name":"OUT /ObterEstado","links":["b80425ef.8fd328"],"x":55,"y":740,"wires":[["6d2f7201.b9975c","2bc9527f.d29eae","3cee7c12.b843a4","2a5374a0.c441fc"]]},{"id":"c9a50929.bdff88","type":"link out","z":"30605640.e01d8a","name":"IN /ObterEstado","links":["fda44357.2a84c"],"x":955,"y":680,"wires":[]},{"id":"cb2ff476.bf00d8","type":"link out","z":"30605640.e01d8a","name":"IN - /CamQtMadalena","links":["b2e5184c.d1e968"],"x":1115,"y":300,"wires":[]},{"id":"c7afe941.8cf018","type":"link in","z":"30605640.e01d8a","name":"OUT /CamQtMadalena","links":["eeb1889c.1f4df8"],"x":1155,"y":300,"wires":[["a1d0f315.97f16"]]},{"id":"eeb1889c.1f4df8","type":"link out","z":"30605640.e01d8a","name":"OUT - /CamQtMadalena","links":["c7afe941.8cf018"],"x":1415,"y":680,"wires":[]},{"id":"b2e5184c.d1e968","type":"link in","z":"30605640.e01d8a","name":"OUT /CamQtMadalena","links":["cb2ff476.bf00d8"],"x":1075,"y":680,"wires":[["2f749c58.8ecba4"]]},{"id":"ae18a995.e9cb48","type":"link out","z":"30605640.e01d8a","name":"IN - /LockHouse","links":["b205f09c.1dbd"],"x":1115,"y":340,"wires":[]},{"id":"2f176cb0.3b3484","type":"link in","z":"30605640.e01d8a","name":"OUT /LockHouse","links":["b4bd416f.59e28"],"x":1155,"y":340,"wires":[["a1d0f315.97f16"]]},{"id":"b205f09c.1dbd","type":"link in","z":"30605640.e01d8a","name":"OUT /LockHouse","links":["ae18a995.e9cb48"],"x":1075,"y":620,"wires":[["d4ab49ec.a582e8"]]},{"id":"b4bd416f.59e28","type":"link out","z":"30605640.e01d8a","name":"OUT - /LockHouse","links":["2f176cb0.3b3484"],"x":1395,"y":620,"wires":[]},{"id":"d4ab49ec.a582e8","type":"api-call-service","z":"30605640.e01d8a","name":"Casa Ocupada set OFF","server":"9a1c944b.f854d8","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.home_occupied\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1230,"y":620,"wires":[["b4bd416f.59e28"]]},{"id":"2ddbc63c.338b8a","type":"chatbot-ask","z":"30605640.e01d8a","name":"/Menu","buttons":[{"type":"keyboardButton","label":"/ObterEstado"},{"type":"keyboardButton","label":"/ObterIP"},{"type":"newline"},{"type":"keyboardButton","label":"/CamQtMadalena"},{"type":"keyboardButton","label":"/LockHouse"}],"message":"Olá {{firstName}}, que pretendes fazer?\n/ObterEstado - Lista estados dos Equipamentos\n/ObterIP - Mostra IP externo actual\n/CamQtMadalena - Camera Quarto Madalena\n/LockHouse - Lock Down House","x":1070,"y":180,"wires":[["a1d0f315.97f16"]]},{"id":"52af0b8d.ee4914","type":"chatbot-ask","z":"30605640.e01d8a","name":"/ObterEstado","buttons":[{"type":"keyboardButton","label":"/menu"}],"message":"{{report}}","x":810,"y":680,"wires":[["c9a50929.bdff88"]]},{"id":"5bdf7341.1c8dcc","type":"chatbot-ask","z":"30605640.e01d8a","name":"/ObterIP","buttons":[{"type":"keyboardButton","label":"/menu"}],"message":"IP: {{ip}} ","x":620,"y":940,"wires":[["1e4640c.5d75dbf"]]},{"id":"81d2f9cc.c052e8","type":"chatbot-ask","z":"30605640.e01d8a","name":"/ObterIP","buttons":[{"type":"keyboardButton","label":"/menu"}],"message":"Olá {{firstName}}, não foi possivel satisfazer o teu pedido.\nPor favor volta para /menu","x":1320,"y":680,"wires":[["eeb1889c.1f4df8"]]},{"id":"15ca0a24.766146","type":"http request","z":"dbd2bcde.7bb22","name":"","method":"GET","ret":"txt","url":"https://doc-00-5g-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/su9rjnrid7jth1qkhbhgb5a5b87fd2ne/1548900000000/14380019241872991539/*/1oAoqeECzPP-nObRr3KGvQKvuJXtV-jZf?e=download","tls":"","x":330,"y":120,"wires":[["6970eb54.a7b6a4"]]},{"id":"a6f0025b.cb488","type":"inject","z":"dbd2bcde.7bb22","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 19 * * 2,5,0","once":false,"onceDelay":0.1,"x":130,"y":160,"wires":[["15ca0a24.766146","d48a466d.db4cd8"]]},{"id":"6970eb54.a7b6a4","type":"file","z":"dbd2bcde.7bb22","name":"","filename":"/data/fuelio.csv","appendNewline":false,"createDir":false,"overwriteFile":"true","x":500,"y":120,"wires":[["8ac3fa8.266f008"]]},{"id":"97b7b6b5.4d5088","type":"link in","z":"30605640.e01d8a","name":"Link-Telegram Sender","links":["a3a0d96.e144928"],"x":1095,"y":80,"wires":[["a1d0f315.97f16"]]},{"id":"a3a0d96.e144928","type":"link out","z":"dbd2bcde.7bb22","name":"","links":["97b7b6b5.4d5088"],"x":1375,"y":160,"wires":[]},{"id":"587354a2.f85a0c","type":"chatbot-message","z":"dbd2bcde.7bb22","name":"","message":[{"message":"Olá {{firstName}}, só para avisar que o ficheiro Fuelio foi actualizado!"}],"answer":false,"silent":false,"x":1250,"y":160,"wires":[["a3a0d96.e144928"]]},{"id":"d48a466d.db4cd8","type":"file in","z":"dbd2bcde.7bb22","name":"","filename":"/data/fuelio.csv","format":"utf8","chunk":false,"sendError":false,"x":340,"y":180,"wires":[["8ac3fa8.266f008"]]},{"id":"8ac3fa8.266f008","type":"join","z":"dbd2bcde.7bb22","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":670,"y":160,"wires":[["b9d41ed0.0137d"]]},{"id":"b9d41ed0.0137d","type":"function","z":"dbd2bcde.7bb22","name":"Check if File changed","func":"\nmsg.payload = msg.payload[0].length == msg.payload[1].length\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":160,"wires":[["861f9107.13bf6"]]},{"id":"861f9107.13bf6","type":"switch","z":"dbd2bcde.7bb22","name":"Ficheiro Mudou","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1060,"y":160,"wires":[["587354a2.f85a0c"]]},{"id":"c9c6d5e1.03db08","type":"bigtimer","z":"894ecb28.c0d4a8","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Big Timer","comment":"","lat":"38.97223","lon":"-8.80873","starttime":"360","endtime":"60","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":"1-31","month1":"1-12","day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":560,"y":1280,"wires":[["4c5c4f58.b0123"],[],[]]},{"id":"75a425f5.3d103c","type":"change","z":"894ecb28.c0d4a8","name":"Set Auto For Control Timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1280,"wires":[["c9c6d5e1.03db08"]]},{"id":"36cedf4e.2058a","type":"csv","z":"dbd2bcde.7bb22","name":"","sep":",","hdrin":"","hdrout":true,"multi":"mult","ret":"\\n","temp":"","skip":"0","x":670,"y":260,"wires":[["642a03e6.c10b2c"]]},{"id":"af2c75f3.338be8","type":"file in","z":"dbd2bcde.7bb22","name":"","filename":"/data/fuelio.csv","format":"utf8","chunk":false,"sendError":false,"x":320,"y":260,"wires":[["36cedf4e.2058a"]]},{"id":"1cb6a6c1.f8ff99","type":"inject","z":"dbd2bcde.7bb22","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":260,"wires":[["af2c75f3.338be8"]]},{"id":"9f0e0cba.c63e9","type":"function","z":"909d27.066a42d8","name":"Iterate","func":"//Node has 2 outputs - 1 for itteration and 1 for completion\nvar nextObj, out;\nvar itt = msg.iterationInfo;\n\n\n//If the iterating has not yet begun set up the iteration metadata in the msg\nif (typeof itt === 'undefined') {\n    //Make sure payload is an array\n    if( Object.prototype.toString.call(msg.payload) !== '[object Array]' ) {\n       msg.payload = [msg.payload];\n    }\n\n    msg.iterationInfo = itt = {};\n    itt.index = -1;\n    itt.inArray = msg.payload;\n    itt.outArray = [];\n\n//Otherwise just push the input to the output array\n} else {\n    itt.outArray.push(msg.payload)\n}\n\n//Goto next object\nitt.index ++;\n\n//If there are stil objects left to iterate goto the next one in the original array\nif (itt.index < itt.inArray.length) {\n    nextObj = msg;\n    msg.payload = itt.inArray[itt.index];\n\n//otherwise pass the out array as the payload\n} else {\n    out = msg;\n    msg.payload = itt.outArray;\n    delete msg.iterationInfo;\n}\n\nreturn [nextObj, out];","outputs":"2","noerr":0,"x":347,"y":220,"wires":[[],[]]},{"id":"642a03e6.c10b2c","type":"function","z":"dbd2bcde.7bb22","name":"","func":"msg.Fuelio ={\n    Veiculo: msg.payload[2].col1,\n    Odomentro : msg.payload[6].col2,\n    L100km: msg.payload[6].col6\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":260,"wires":[["9483bd4.31fd14"]]},{"id":"7f9bef97.c148f","type":"mqtt out","z":"dbd2bcde.7bb22","name":"","topic":"garage/moto/fuelio","qos":"0","retain":"false","broker":"9b54018a.6a435","x":1290,"y":260,"wires":[]},{"id":"9483bd4.31fd14","type":"change","z":"dbd2bcde.7bb22","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Fuelio","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":260,"wires":[["7f9bef97.c148f"]]}]